body {
    font-family: Verdana, sans-serif;
    background-color: rgba(205, 239, 255, 0.75);
    margin: 0;
    padding: 0;

}
/*RGBA Colors*/

#header {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: inline-block;

}
/*RGBA Colors*/

h1 {
    text-shadow: 2px 2px #ff00007b;
    color: rgb(110, 189, 225);
    float: left;
    padding-left: 50px;
    font-size: 1.8em;
}
/*Shadow Effects*/
/*RGBA Colors*/


.nav ul li {
    display: inline;
    float: right;
    padding-top: 10px;
    padding-right: 30px;

}


a {
    color: rgb(110, 189, 225);
    font-size: large;
    text-decoration: none;
}
/*RGBA Colors*/

a:hover {
    color: #ff00007b;
    transition: 0.5s;
}
/*Transition*/

.section {
    text-align: center;
    width: 100%;
    height: 100%;

}

.section h2 {
    color: rgb(80, 121, 141);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*RGBA Colors*/


.content {
    color: rgb(80, 121, 141);
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}
/*RGBA Colors*/

.go {
    text-align: center;
    padding-bottom: 40px;
}

img {
    width: 50%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.349);
}
/*RGBA Colors*/
/*Shadow Effects*/

.main {
    display: block;
}

.main h2 {
    margin: 0;
    padding-top: 60px;
    padding-left: 20px;
    background-color: white;
    text-align: left;
    color: rgb(64, 112, 134);
}
/*RGBA Colors*/

.part1 {
    background-color: white;
    color: rgb(64, 112, 134);
    text-align: justify;
    padding: 30px;

}
/*RGBA Colors*/

.part1 p {
    text-indent: 2em;
    color: rgb(110, 189, 225);
}
/*RGBA Colors*/

ul {
    color: rgb(110, 189, 225);
}
/*RGBA Colors*/

.part1 img {
    width: 50%;
    display: block;
    margin: auto;
}